<form action="/addCar" method="POST">

    <table>
        <tr>
            <th>Description</th>
              <th>total distance travelled</th>
                <th>total fuel spent</th>
                  <th>fuel_consumption</th>
                    
        </tr>
    </table>
</form>